*{
    padding :0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

main > p{
    background-color: white;
}

main{
    background-color: black;
}

header{
    position: relative;
    width: 100%;
    height: 60px;
    
    background: linear-gradient(rgb(188, 38, 38), rgb(0, 0, 0));
    display: flex;
    align-items: center ;
}

.Trans{
    color: black;
    background: transparent;
    border-style: none;
    padding-right: 20px;
    
}

.Trans > a{
    text-decoration: none;
    color: red;
}

header > img{
    width: 5%;
}

nav{
    height: 100%;
    width: 60vw;
    margin: 0 auto;

}
ul{
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

li{
    height: 100%;
    width: 100%;
    display: flex ;
    justify-content: center;
    align-items: center;
}

li > a {
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    color: rgb(0, 0, 0);

}


body{
        width: 100vw;
        font-size: 15px;
        font-family: "Audiowide", sans-serif;
        background: rgba(255, 255, 255, 0.231);
        overflow-x: hidden;
        min-height: 100vh;
        
        
    }
h2{
        font-size: 250%;
        margin-bottom: 20px;
        border-bottom : 1px solid rgb(255, 255, 255);
        color: rgb(111, 0, 0)
    }
    
article{
        width: 60vw;
        margin: 0 auto;
        padding: 10px;
        color: rgb(109, 0, 0);
        
}

p{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    
    margin-bottom: 20px;
}




.section__history{
    display: flex;
    height: 400px;
}

.container--history{
    width: 50%;
    height: 100%;
    background-image: url(/image/img1.jpg);
    background-size: 150%;
}

.History{
    width: 50%;
}   

.section__Activity{
    display: flex;
    height: 400px;
}

.container--gun{
    width: 50%;
    height: 100%;
    background-image: url(/image/img2.jpg);
    background-size: 100%;
}

.activity{
    width: 50%;
}   

section {
    width: 100%;
    
}


img{
    width: 50%;
    border-radius: 10px;
    transition: 0.2s transform;
    padding-right: 20px;
}

.time{
    width: 100%;
    border-radius:10px ;
    color: black'
}

.times > .time {
    color: black;
}

figure {
    display: flex;
    position: relative;
}



.contact {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 180px;
}


::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #424242;
  }
  ::-webkit-scrollbar-thumb {
    
    background: rgb(122, 0, 141);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(152, 0, 0);
  }


.scroll{
    width: 100%;
    height: 50vh;
    background-size: contain;
    object-fit: cover;
    background-repeat: no-repeat;
    animation-name: fotoslider;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    padding: 50px;
}



@keyframes fotoslider{
    0%{
        opacity: 0;
        background-image: url(../image/review\ 1.jpg);
    }
    12.5%{
        opacity: 1;
        background-image: url(../image/review\ 1.jpg);
    }
    24%{
        opacity: 0;
        background-image: url(../image/review\ 1.jpg);
    }
    25%{
        opacity: 0;
        background-image: url(../image/review\ 1.jpg);
    }
    37.5%{
        opacity: 1;
        background-image: url(../image/review\ 2.jpg);
    }
    49%{
        opacity: 0;
        background-image: url(../image/review\ 2.jpg);

    }
    50%{
        opacity: 0;
        background-image: url(../image/review\ 3.jpg);
    }
    62.5%{
        opacity: 1;
        background-image: url(../image/review\ 3.jpg);
    }
    74%{
        opacity: 0;
        background-image: url(../image/review\ 3.jpg);
    }
    75%{
        opacity: 0;
        background-image: url(../image/review\ 3.jpg);
    }
    87.5%{
        opacity: 1;
        background-image: url(../image/review\ 4.jpg);
    }
    99%{
        opacity: 0;
        background-image: url(../image/review\ 4.jpg);
    }
    100%{
        opacity: 1;
        background-image: url(../image/review\ 1.jpg);
    }
    
}

.times{

    height: 100%;
    width: 100%;
    }

.time{
    
    color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

footer{
    position: relative;
    width: 100%;
    height: 360px;
    color: lightpink;
    background: linear-gradient(black 70%,rgb(188, 38, 38) );
    display: flex;
    align-items: center ;
    justify-content: space-between;
    flex-direction: column;
}

footer > p {
    display: inline;
    margin-left: 20px;
    align-items: center;
    
}
footer > div > a > img {
    
    width: 20% ;
    height: auto;
    
    
}



.Extra{
    height: 32px;
    color: rgb(105, 0, 0);
}


@media screen and (max-width : 1000px) {

    @media screen and (max-width : 1000px) {
    article{
        width: 80vw;
        
    }
    
    header>p{
        width: 80vw;
    }
    footer > p {
        width: 80vw;
    }
    img:hover{
        transform: none;
    }
    .button{
        width: 60px;
        height: 60px;
        bottom: 60px;
        right: 60px;
    
    }
    ul{
        display: block;
        list-style: none;
        height: 100%;
        align-items: center;
        justify-content: space-evenly;
        gap: 20px;
        
    }
    header{
        height: auto;
    }
    nav{
        width: 100%;
    }

@media screen and (max-width : 600px) {
    header{
        width: 100vw;
    }
    footer{
        width: 100vw;
    }
    .scroll{
        margin: 0 auto;
    }
    article{
        width: 80vw;
        
    }
    header>p{
        width: 80vw;
    }
    footer > p {
        width: 80vw;
    }
    img:hover{
        transform: none;
    }
    
}
    article{
        width: 80vw;
        
    }
    header>p{
        width: 80vw;
    }
    footer > p {
        width: 80vw;
    }
    img:hover{
        transform: none;
    }
    .button{
        width: 60px;
        height: 60px;
        bottom: 60px;
        right: 60px;
    
    }
    ul{
        display: block;
        list-style: none;
        height: 100%;
        align-items: center;
        justify-content: space-evenly;
        gap: 20px;
        
    }
    header{
        height: auto;
    }
    nav{
        width: 100%;
    }

@media screen and (max-width : 600px) {
    article{
        width: 80vw;
        
    }
    header>p{
        width: 80vw;
    }
    footer > p {
        width: 80vw;
    }
    img:hover{
        transform: none;
    }
    
}



    }
    }